.rotate-logo {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 16px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}

.loader:before {
  content:"Loading..."
}

@keyframes l2 {to{background-size: 100% 3px}}
