.to-do-list-light::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #e2e8f0;
	border-radius: 10px;
	background-color: #e2e8f0;
}

.to-do-list-light::-webkit-scrollbar
{
	width: 0.4rem;
	background-color: #e2e8f0;
}

.to-do-list-light::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #334155;
}

.to-do-list-dark::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #020617;
	border-radius: 10px;
	background-color: #020617;
}

.to-do-list-dark::-webkit-scrollbar
{
	width: 0.4rem;
	background-color: #020617;
}

.to-do-list-dark::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #0f172a;
}
